/* Text-input is 10pt Tahoma regular. Panel titles are 12pt Verdana bold. Button icons are usually 16pt Webdings or Wingdings regular. Most everything else is Haettenschweiler. */
/* Icons can't be antialiased for display on the web. But they should be for the game (actually, in the ideal case, the icons should be of a simple enough design that antialiasing isn't necessary). */
/* Need to work on the crosshairs, lead indicator, missle-lock LEDs/buttons, and armor % displays. */
/* Damage display should light up when receiving damage. */
/* reference: font-family:Haettenschweiler,sans-serif;font-size:12pt;text-align:center; */
/* reference: font-weight:bold;color:#000000;font-size:16pt;font-family:Haettenschweiler,sans-serif;text-align:center; */
/* reference: font-family:webdings;font-size:24pt; */
/* reference: font-family:Verdana;color:#00ff00;font-size:8pt; */
/* reference: font-family:Haettenschweiler;font-size:12pt; */

div
{font-family:Haettenschweiler,sans-serif;font-weight:normal;cursor:default;position:absolute;z-index:1;scrollbar-face-color:#004000;scrollbar-shadow-color:#00a000;scrollbar-highlight-color:#00a000;scrollbar-3dlight-color:#00a000;scrollbar-darkshadow-color:#004000;scrollbar-track-color:#004000;scrollbar-arrow-color:#00a000;}		/* Don't put anything here. It's needed for a script function. */
body
{background:url(images/vegastrike040_013.jpg);}

.hed_on
{font-family:Haettenschweiler;font-size:12pt;color:#000000;background:#00a000;position:relative;width:100%;padding-left:16px;overflow:hidden;}
.hed_off
{font-family:Haettenschweiler;font-size:12pt;color:#000000;background:#006000;position:relative;width:100%;padding-left:16px;overflow:hidden;}
.tim
{font-family:Haettenschweiler;font-size:12pt;color:#000000;background:#00a000;position:absolute;right:2;}
.cll_on
{font-family:Haettenschweiler;font-size:12pt;color:#a0a000;position:relative;width:100%;padding-left:16px;overflow:hidden;}
.cll_off
{font-family:Haettenschweiler;font-size:12pt;color:#00a000;position:relative;width:100%;padding-left:16px;overflow:hidden;}
.dst_off
{font-family:Haettenschweiler;font-size:12pt;color:#00a000;position:absolute;right:2;}
.dst_on
{font-family:Haettenschweiler;font-size:12pt;color:#a0a000;position:absolute;right:2;}
.lod_off
{font-family:Haettenschweiler;font-size:12pt;color:#00a000;position:absolute;right:32;}
.lod_on
{font-family:Haettenschweiler;font-size:12pt;color:#a0a000;position:absolute;right:32;}
.trg
{font-family:Haettenschweiler;font-size:12pt;color:#a0a0a0;}
.ind_on
{width:16px;position:absolute;left:0px;background:url(images/icon_arw_sml_ylw_rgt.png);}
.ind_off
{width:16px;position:absolute;left:0px;background:url(images/icon_arw_sml_grn_rgt.png);}

.but_hrz_on
{width:32px;height:26px;background:url(images/but_hrz_on.png);}
.but_hrz_off
{width:32px;height:26px;background:url(images/but_hrz_off.png);}
.but_hrz_clr_on
{width:32px;height:26px;background:url(images/but_hrz_clr_on.png);}
.but_hrz_clr_off
{width:32px;height:26px;background:transparent;}
.but_vrt_on
{width:26px;height:32px;background:url(images/but_vrt_on.png);}
.but_vrt_off
{width:26px;height:32px;background:url(images/but_vrt_off.png);}

.but_hrz_thn_on
{width:64px;height:19px;background:url(images/but_hrz_thn_on.png);}
.but_hrz_thn_off
{width:64px;height:19px;background:url(images/but_hrz_thn_off.png);}

.but_lrg_on
{width:40px;height:40px;background:url(images/but_lrg_on.png);}
.but_lrg_off
{width:40px;height:40px;background:url(images/but_lrg_off.png);}

.but_hrz_sml_off
{width:24px;height:20px;background:url(images/but_hrz_sml_off.png);}
.but_hrz_sml_on
{width:24px;height:20px;background:url(images/but_hrz_sml_on.png);}
.but_vrt_sml_off
{width:20px;height:24px;background:url(images/but_vrt_sml_off.png);}
.but_vrt_sml_on
{width:20px;height:24px;background:url(images/but_vrt_sml_on.png);}

.but_min_off
{width:19px;height:15px;background:url(images/but_min_off.png);}
.but_min_on
{width:19px;height:15px;background:url(images/but_min_on.png);}
.but_max_off
{width:19px;height:15px;background:url(images/but_max_off.png);}
.but_max_on
{width:19px;height:15px;background:url(images/but_max_on.png);}
.but_prv_off
{width:23px;height:15px;background:url(images/but_prv_off.png);}
.but_prv_on
{width:23px;height:15px;background:url(images/but_prv_on.png);}
.but_nxt_off
{width:23px;height:15px;background:url(images/but_nxt_off.png);}
.but_nxt_on
{width:23px;height:15px;background:url(images/but_nxt_on.png);}
.but_cls_off
{width:21px;height:21px;background:url(images/but_cls_off.png);}
.but_cls_on
{width:21px;height:21px;background:url(images/but_cls_on.png);}
.but_cls_clr_off
{width:21px;height:21px;background:url(images/but_cls_clr_off.png);}
.but_cls_clr_on
{width:21px;height:21px;background:url(images/but_cls_clr_on.png);}

.but_arw_edg_lft_off
{width:32px;height:26px;background:url(images/but_arw_edg_lft_off.png);}
.but_arw_edg_lft_on
{width:32px;height:26px;background:url(images/but_arw_edg_lft_on.png);}
.but_arw_edg_rgt_off
{width:32px;height:26px;background:url(images/but_arw_edg_rgt_off.png);}
.but_arw_edg_rgt_on
{width:32px;height:26px;background:url(images/but_arw_edg_rgt_on.png);}

.but_arw_sml_lft_off
{width:24px;height:20px;background:url(images/but_arw_sml_lft_off.png);}
.but_arw_sml_lft_on
{width:24px;height:20px;background:url(images/but_arw_sml_lft_on.png);}
.but_arw_sml_lft_clr_off
{width:24px;height:20px;background:url(images/but_arw_sml_lft_clr_off.png);}
.but_arw_nrw_lft_on
{width:16px;height:48px;background:url(images/but_arw_nrw_lft_on.png);}
.but_arw_nrw_lft_off
{width:16px;height:48px;background:url(images/but_arw_nrw_lft_off.png);}

.but_arw_sml_rgt_off
{width:24px;height:20px;background:url(images/but_arw_sml_rgt_off.png);}
.but_arw_sml_rgt_on
{width:24px;height:20px;background:url(images/but_arw_sml_rgt_on.png);}
.but_arw_sml_rgt_clr_off
{width:24px;height:20px;background:url(images/but_arw_sml_rgt_clr_off.png);}
.but_arw_nrw_rgt_on
{width:16px;height:48px;background:url(images/but_arw_nrw_rgt_on.png);}
.but_arw_nrw_rgt_off
{width:16px;height:48px;background:url(images/but_arw_nrw_rgt_off.png);}

.but_arw_sml_up_off
{width:20px;height:24px;background:url(images/but_arw_sml_up_off.png);}
.but_arw_sml_up_on
{width:20px;height:24px;background:url(images/but_arw_sml_up_on.png);}
.but_arw_sml_up_clr_off
{width:20px;height:24px;background:url(images/but_arw_sml_up_clr_off.png);}
.but_arw_sml_dwn_off
{width:20px;height:24px;background:url(images/but_arw_sml_dwn_off.png);}
.but_arw_sml_dwn_on
{width:20px;height:24px;background:url(images/but_arw_sml_dwn_on.png);}
.but_arw_sml_dwn_clr_off
{width:20px;height:24px;background:url(images/but_arw_sml_dwn_clr_off.png);}

.but_mth_mns_off
{width:32px;height:26px;background:url(images/but_mth_mns_off.png);}
.but_mth_mns_on
{width:32px;height:26px;background:url(images/but_mth_mns_on.png);}
.but_mth_pls_off
{width:32px;height:26px;background:url(images/but_mth_pls_off.png);}
.but_mth_pls_on
{width:32px;height:26px;background:url(images/but_mth_pls_on.png);}
.but_mth_sml_eql_off
{width:26px;height:26px;background:url(images/but_mth_sml_eql_off.png);}
.but_mth_sml_eql_on
{width:26px;height:26px;background:url(images/but_mth_sml_eql_on.png);}

.but_sub_off
{width:26px;height:26px;background:url(images/but_sub_off.png);}
.but_sub_on
{width:26px;height:26px;background:url(images/but_sub_on.png);}
.but_grp_off
{width:26px;height:26px;background:url(images/but_grp_off.png);}
.but_grp_on
{width:26px;height:26px;background:url(images/but_grp_on.png);}

.but_mov_clw_off
{width:32px;height:26px;background:url(images/but_mov_clw_off.png);}
.but_mov_clw_on
{width:32px;height:26px;background:url(images/but_mov_clw_on.png);}
.but_mov_ctr_off
{width:32px;height:26px;background:url(images/but_mov_ctr_off.png);}
.but_mov_ctr_on
{width:32px;height:26px;background:url(images/but_mov_ctr_on.png);}
.but_mov_sml_up_off
{width:26px;height:26px;background:url(images/but_mov_sml_up_off.png);}
.but_mov_sml_up_on
{width:26px;height:26px;background:url(images/but_mov_sml_up_on.png);}
.but_mov_sml_dwn_off
{width:26px;height:26px;background:url(images/but_mov_sml_dwn_off.png);}
.but_mov_sml_dwn_on
{width:26px;height:26px;background:url(images/but_mov_sml_dwn_on.png);}
.but_mov_sml_lft_off
{width:26px;height:26px;background:url(images/but_mov_sml_lft_off.png);}
.but_mov_sml_lft_on
{width:26px;height:26px;background:url(images/but_mov_sml_lft_on.png);}
.but_mov_sml_rgt_off
{width:26px;height:26px;background:url(images/but_mov_sml_rgt_off.png);}
.but_mov_sml_rgt_on
{width:26px;height:26px;background:url(images/but_mov_sml_rgt_on.png);}
.but_mov_sml_clw_off
{width:26px;height:26px;background:url(images/but_mov_sml_clw_off.png);}
.but_mov_sml_clw_on
{width:26px;height:26px;background:url(images/but_mov_sml_clw_on.png);}
.but_mov_sml_ctr_off
{width:26px;height:26px;background:url(images/but_mov_sml_ctr_off.png);}
.but_mov_sml_ctr_on
{width:26px;height:26px;background:url(images/but_mov_sml_ctr_on.png);}

.vdu_on
{filter:alpha(opacity=100);-moz-opacity:1.0;opacity:1.0;}
.vdu_off
{filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;}
.vdu_hlf
{filter:alpha(opacity=75);-moz-opacity:0.5;opacity: 0.75;}

.vdu_1_box	/* background:#004000; */
{left:5px;top:30px;width:290px;height:157px;background:transparent;}
.vdu_2_box
{left:28px;top:0px;width:192px;height:192px;background:transparent;}
.vdu_3_box	/* background:#004000; */
{left:0px;top:0px;width:228px;height:166px;background:transparent;}
.vdu_4_box
{left:28px;top:0px;width:192px;height:192px;background:transparent;}
.vdu_5_box	/* background:#003000; */
{left:5px;top:30px;width:591px;height:349px;background:transparent;}

.exp
{left:0px;top:0px;width:100%;height:100%;}

#vdu_0
{}

#comm
{background:url(images/vdu_comm.png);}
#comm_lrg
{background:url(images/vdu_comm_lrg.png);}
#invt
{background:url(images/vdu_invt.png);}
#invt_lrg
{background:url(images/vdu_invt_lrg.png);}
#info
{background:url(images/vdu_info.png);}
#info_lrg
{background:url(images/vdu_info_lrg.png);}

#shld
{background:url(images/vdu_shld.png);}
#powr
{background:url(images/vdu_powr.png);}
#targ
{background:url(images/vdu_targ.png);}

#comb
{background:url(images/vdu_comb.png);}
#repr
{background:url(images/vdu_repr.png);}
#hngr
{background:url(images/vdu_hngr.png);}

#sens
{background:url(images/vdu_sens.png);}
#chrt
{background:url(images/vdu_chrt.png);}
#cmra
{background:url(images/vdu_cmra.png);}

#mssg
{background:url(images/vdu_mssg.png);}
